.model1{
    text-decoration: none;
    box-shadow: none;
    margin-left: 10%;
    width: 30px;
     
}
.heading211{
    font-weight: bold;
}
.etotal{
    border: 1px solid black;
}
.content12{
   width: 900px;
   margin: 0px;
    
}
.image123{
    border-radius: 100px;
   

}